.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropzone {
      border: 2px dashed #ccc;
      border-radius: 4px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px; /* You can adjust the height as needed */
  }
  .dropzone p {
    margin: 0;
  }
  
  .image-preview {
    margin-top: 20px;
  }
  
  .image-preview img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  input{
    color: #FF7F50;
  }
  
  textarea{
    border: solid 2px #FF7F50;
    color : #FF7F50;
  }
  
  .button{
      background-color: #FF7F50;
      color: white;
      border-radius: 10px;
      height: fit-content;
      padding: 10px;
      margin: 5px;
  }